* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins';
}

header {
  position: absolute;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  z-index: 10;
}

.hero-section {
    position: relative;
    height: 100vh;
    width: 100%;
    overflow: hidden;
}
  
.background-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
}
  
.hero-text {
    position: relative;
    z-index: 2;
    color: white;
    text-align: center;
    top: 50%;
    transform: translateY(-50%);
    width: 100%;
}
  
.hero-text h1 {
    font-size: 38px;
    font-weight: 550;
}
  
.hero-text p {
    font-size: 1.5rem;
}

.logo {
    position: absolute;
    top: 3px;
    left: 7%;
}

.logo img {
    width: 90px;
    height: auto;
}

.container {
    margin-top: 10px;
    margin-left: 90%;
    z-index: 10000;
}

@media screen and (max-width: 768px) {
    header {
        padding: 10px;
        flex-direction: column;
        align-items: center;
    }

    .logo {
        top: 2px;
        left: 50px;
        transform: translate(0, 0);
    }

    .logo img {
        width: 60px;
    }

    .hero-text h1 {
        font-size: 24px;
        margin-bottom: 10px;
    }

    .hero-text p {
        font-size: 1rem;
        margin-bottom: 10px;
    }

    .container {
        margin-top: 5px;
        margin-right: 10px;
        transform: translate(0, 0);
    }

    .hero-text {
        padding: 0 20px;
    }
}

/* ----------------------------button general------------------------ */
.button-link {
    text-decoration: none;
}

button {
    width: 90px;
    height: 35px;
    cursor: pointer;
    color: #fff;
    font-size: 12px;
    border-radius: 1rem;
    border: none;
    position: relative;
    background: #100720;
    transition: 0.8s;
}

button::after {
    content: "";
    width: 100%;
    height: 100%;
    background-image: radial-gradient(circle farthest-corner at 10% 20%, rgb(255, 255, 255) 17.8%, rgba(2, 245, 255, 1) 100.2%);
    filter: blur(15px);
    z-index: -1;
    position: absolute;
    left: 0;
    top: 0;
}

button:active {
    color: #050000;
    transform: scale(0.9) rotate(3deg);
    background-image: radial-gradient(circle farthest-corner at 10% 20%, rgb(0, 0, 0) 100.8%, rgb(48, 90, 90) 17.8%);
    transition: 0.8s;
}

@media screen and (max-width: 768px) {
    button {
        width: 70px;
        height: 30px;
        font-size: 10px;
        margin-right: 3px;
        margin-top: 3px; /* Add margin-top for responsive button */
    }
}

/* -----------------------------navbar-------------------------------- */

.navbar .wrapper {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: linear-gradient(-135deg, #ffffff, #000000);
    clip-path: circle(25px at calc(0% + 45px) 45px);
    transition: all 0.3s ease-in-out;
    z-index: 100;
}

#active:checked ~ .wrapper {
    clip-path: circle(75%);
}

.menu-btn {
    position: fixed;
    z-index: 2;
    left: 20px;
    top: 20px;
    height: 50px;
    width: 50px;
    text-align: center;
    line-height: 50px;
    border-radius: 50%;
    font-size: 20px;
    color: #fff;
    cursor: pointer;
    background: linear-gradient(-135deg, hwb(0 100% 0% / 0.192), #000000);
    transition: all 0.3s ease-in-out;
    z-index: 1000;
}

#active:checked ~ .menu-btn {
    background: #fff;
    color: #000000;
}

.wrapper ul {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    list-style: none;
    text-align: center;
}

.wrapper ul li {
    margin: 15px 0;
}

.wrapper ul li a {
    color: none;
    text-decoration: none;
    font-size: 30px;
    font-weight: 500;
    padding: 5px 30px;
    color: #fff;
    position: relative;
    line-height: 50px;
    transition: all 0.3s ease;
}

.wrapper ul li a:hover {
    color: #000000;
}

input[type="checkbox"] {
    display: none;
}

.content {
    position: absolute;
    top: 43%;
    left: 54%;
    width: 80%;
    transform: translate(-50%, -50%);
    z-index: -1;
    text-align: center;
    color: #202020;
}

.content {
    text-align: left;
    color: #fff;
    margin-top: 3%;
}

.content .title h1 {
    font-size: 35px;
    margin-left: 5%;
    font-weight: 550;

}

.content .title p {
    margin-left: 20%;
    font-size: 18px;
    margin-top: 1%;
}

#clickableImage {
    width: 150px;
    height: auto;
    cursor: pointer;
    position: fixed;
    top: 7.5%;
    left: 3.56%;
    transform: translate(-50%, -50%);
    z-index: 10000;
    pointer-events: auto;
}

/* Responsive styles for screens below 768px */
@media screen and (max-width: 768px) {
    .navbar .wrapper {
        clip-path: circle(20px at calc(0% + 30px) 30px);
    }

    #active:checked ~ .wrapper {
        clip-path: circle(100%);
    }

    .menu-btn {
        left: 10px;
        top: 10px;
        height: 40px;
        width: 40px;
        font-size: 16px;
        line-height: 40px;
    }

    .wrapper ul {
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    .wrapper ul li a {
        font-size: 20px;
        padding: 5px 20px;
    }

    .content {
        top: 50%;
        left: 50%;
        width: 90%;
        transform: translate(-50%, -50%);
        text-align: center;
    }

    .content .title h1 {
        font-size: 25px;
        margin-left: 0;
    }

    .content .title p {
        margin-left: 0;
        font-size: 16px;
    }

    #clickableImage {
        width: 100px;
        top: 5%;
        left: calc(0% + 30px);
    }
}

/* --------------------------------------about us----------------------------------------- */

:root {
    --num: 0;
}

.container3 {
    width: 100%;
    max-width: 100%;
    margin: 0;
    padding: 0;
}

.aboutUs {
    background: #fff;
    overflow: hidden;
    padding: 0;
}

.card {
    background: #ffffff; /* Set a solid background color */
    border-radius: 24px 24px 24px 48px;
    padding: 48px 48px 48px 308px;
    margin-left: 14%;
    margin-right: 17%;
    margin-top: 7%;
    width: 69%;
    display: flex;
    flex-direction: row;
    align-self: flex-start;
    position: relative;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1), /* Light shadow */
                0 6px 20px rgba(0, 0, 0, 0.1); /* Darker shadow */
}
.card .text-content {
    display: flex;
    flex-direction: column;
    width:calc(60vw - 192px);
}
.card .text-content h3 {
  margin: 0;
  font-size: 1.5em;
  max-width: 20ch;
  color: #000000;
}

.card .text-content p {
  margin: 25px 0 24px;
  margin-right: 13%;
  color: #000000;
  font-size: 14px;
}

.card .text-content ul li {
    color: #000000;
    font-size: 14px;
    margin-left: 3%;
    margin-right: 13%;
  }

.card .visual {
  width: 240px;
  height: 100%;
  position: absolute;
  top: -24px;
  left: 24px;
  overflow: hidden;
  border-radius: 24px;
}

.card .visual img {
  height: 110%;
}

@media screen and (max-width: 768px) {
    .card {
        padding: 24px 20px 24px 190px;
        margin-top: 15%;
        margin-left: 5%;
        margin-right: 5%;
        width: 90%;
    }

    .card .text-content {
        width: calc(80vw - 120px);
    }

    .card .text-content h3 {
        font-size: 1.5em;
    }

    .card .text-content p {
        margin-right: 6%;
        font-size: 14px;
    }

    .card .text-content ul li {
        font-size: 14px;
        margin-right: 6%;
        margin-left: 5%;
    }

    .card .visual {
        width: 150px;
        height: 100%;
        position: absolute;
        top: -12px;
        left: 12px;
    }

    .card .visual img {
        height: 100%;
    }
}

/* -------------------------------data-------------------------------- */

.dataStat {
    display: flex;
    justify-content: center;
    gap: 180px;
    padding: 25px 0;
    background-color: rgb(44, 44, 44);
    color: rgb(255, 255, 255);
    width: 100vw;
    margin-left: calc(-50vw + 50%);
    margin-right: calc(-50vw + 50%);
}

.dataStat h3 {
    font-size: 1.3em; /* Smaller font size */
    justify-content: left;
    margin-left: 18%;

}

.dataStat p {
    font-size: 0.8em; /* Smaller font size */
}

/* Responsive styles for screens below 768px */
@media screen and (max-width: 768px) {
    .dataStat {
        flex-direction: column;
        align-items: center;
        gap: 20px;
        padding: 20px 10px;
    }

    .dataStat h3 {
        font-size: 1.1em;
        margin-left: 0;
        text-align: center;
    }

    .dataStat p {
        font-size: 0.7em;
        text-align: center;
    }
}

/* ----------------------------about us------------------------------------- */

.introAbout {
    display: flex; /* Use flexbox */
    align-items: center; /* Align items vertically */
}

.about-image {
    flex: 0 0 auto; /* Do not grow or shrink; keep initial size */
    margin-right: 20px; /* Add some space between the image and text */
    width: 20%; /* Set a specific width for the image */
    margin-left: 15%;
    margin-top: 5%;
}

.about-image img {
    max-width: 100%; /* Ensure image does not exceed container width */
    height: auto; /* Maintain aspect ratio */
    border-radius: 10%;
}

.about-content {
    flex: 1; /* Take up remaining space */
    margin-right: 27%;
    margin-top: 5%;
    margin-left: 3%;
    text-align: justify;
    font-size: 13px;
}

.about-content h2 {
    padding-bottom: 3%;
    font-size: 30px;
}

.about-content ul li {
    margin-top: 2%;
    margin-left: 3.2%;
}

@media screen and (max-width: 768px) {
    .introAbout {
        flex-direction: column; /* Stack items vertically */
        align-items: center; /* Center items horizontally */
        text-align: center; /* Center text */
    }

    .about-image {
        width: 80%; /* Adjust image width for smaller screens */
        margin-left: 0;
        margin-top: 10px;
        margin-right: 0;
    }

    .about-image img {
        width: 10%; /* Make the image fill the container */
        height: auto; /* Maintain aspect ratio */
        border-radius: 10%;
    }

    .about-content {
        margin: 10px 5%; /* Adjust margins for better fit */
        font-size: 14px; /* Increase font size for readability */
    }

    .about-content h2 {
        font-size: 24px; /* Adjust font size */
    }

    .about-content ul li {
        margin-left: 0; /* Reset left margin */
    }
}


/* --------------------------------vision/mission------------------------- */

.container-flex {
    display: flex;
    justify-content: space-between; /* Distribute items evenly */
    gap: 20px; /* Add gap between items */
    margin-top: 10%;
    margin-left: 14%;
    margin-right: 14%;
}

.vision, .mission, .history {
    flex: 1; /* Allow items to take equal space */
    padding: 20px; /* Add padding inside each item */
    background-color: #ffffff; /* Background color for each item */
    border: 1px solid #333; /* Stroke effect (outline) */
    border-radius: 10px; /* Rounded corners */
}

.vision h3, .mission h3, .history h3 {
    font-size: 1.5em; /* Smaller font size for headings */
    margin-bottom: 20px; /* Space between heading and paragraph */
    text-align: center; /* Center-align the heading */
    margin-top: -40px;
    background-color: white;
    width: 50%;
    margin-left: 25%;
}

.vision p, .mission p, .history p {
    font-size: 12px; /* Smaller font size for paragraphs */
    margin-bottom: 0; /* Ensure paragraphs don't have extra bottom margin */
    text-align: center; /* Justify-align the paragraphs */
}

/* Responsive styles for screens below 768px */
@media screen and (max-width: 768px) {
    .container-flex {
        margin-top: 15%;
        flex-direction: column; /* Stack items vertically */
        margin-left: 5%;
        margin-right: 5%;
    }

    .vision, .mission, .history {
        margin-bottom: 20px; /* Add space between stacked items */
        width: 100%; /* Make each item take full width */
    }

    .vision h3, .mission h3, .history h3 {
        font-size: 1.2em; /* Adjust font size */
        margin-top: -20;
        background-color: white;
        width: 20%;
        margin-left: 40%;
    }

    .vision p, .mission p, .history p {
        font-size: 14px; /* Adjust font size for readability */
        text-align: center;
    }
}

/* -----------------------------------connect us-------------------------------------------- */

.connectUs {
    display: flex; /* Use flexbox */
    align-items: center; /* Align items vertically */
    margin-top: 5%;
}

.connect-image {
    flex: 0 0 auto; /* Do not grow or shrink; keep initial size */
    margin-right: 20px; /* Add some space between the image and text */
    width: 32%; /* Set a specific width for the image */
    margin-left: 17%;
    margin-top: 5%;
}

.connect-image img {
    max-width: 100%; /* Ensure image does not exceed container width */
    height: auto; /* Maintain aspect ratio */
    border-radius: 10%;
}

.connect-content {
    flex: 1; /* Take up remaining space */
    margin-right: 20%;
    margin-top: 4%;
    margin-left: 3%;
    text-align: justify;
    font-size: 13px;
}

.connect-content h2 {
    padding-bottom: 3%;
    font-size: 30px;
}

.social {
  display: inline-flex;
  list-style: none;
  height: 120px;
  width: 100%;
  padding-top: 40px;
  font-family: "Poppins", sans-serif;
  justify-content: center;
}

.social .icon {
  position: relative;
  background: #fff;
  border-radius: 50%;
  margin: 10px;
  width: 50px;
  height: 50px;
  font-size: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  transition: all 0.2s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.social .tooltip {
  position: absolute;
  top: 0;
  font-size: 14px;
  background: #fff;
  color: #fff;
  padding: 5px 8px;
  border-radius: 5px;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
  opacity: 0;
  pointer-events: none;
  transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.social .tooltip::before {
  position: absolute;
  content: "";
  height: 8px;
  width: 8px;
  background: #fff;
  bottom: -3px;
  left: 50%;
  transform: translate(-50%) rotate(45deg);
  transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.social .icon:hover .tooltip {
  top: -45px;
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}

.social .icon:hover span,
.social .icon:hover .tooltip {
  text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.1);
}

.social .tiktok:hover,
.social .tiktok:hover .tooltip,
.social .tiktok:hover .tooltip::before {
  background: #8d6296;
  color: #fff;
}

.social .twitter:hover,
.social .twitter:hover .tooltip,
.social .twitter:hover .tooltip::before {
  background: #898989;
  color: #fff;
}

.social .instagram:hover,
.social .instagram:hover .tooltip,
.social .instagram:hover .tooltip::before {
  background: #d6808f;
  color: #fff;
}

.social .instagram img {
    width: 50px;
}

.social .tiktok img {
    width: 50px;
}

.social .twitter img {
    width: 50px;
}

/* Responsive styles for screens below 768px */
@media screen and (max-width: 768px) {
    .connectUs {
        flex-direction: column; /* Stack items vertically */
        align-items: center; /* Center items horizontally */
        text-align: center; /* Center text */
    }

    .connect-image {
        width: 80%; /* Adjust image width for smaller screens */
        margin: 0 auto; /* Center image */
        margin-top: 10px;
    }

    .connect-content {
        margin: 10px 5%; /* Adjust margins for better fit */
        font-size: 14px; /* Increase font size for readability */
        text-align: center; /* Center text */
    }

    .connect-content h2 {
        font-size: 24px; /* Adjust font size */
    }

    .social {
        justify-content: center; /* Center items horizontally */
        height: auto; /* Adjust height */
        padding-top: 20px; /* Reduce padding */
    }

    .social .icon {
        margin: 10px; /* Adjust margin for flex */
    }
}

/* -------------------------footer------------------------- */

.container-footer {
    max-width: 1170px;
    margin-left: 6%;
    margin-right: 6%;
}

.container-footer .row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around; /* Adjusted for more equal spacing */
}

.footer-col ul {
    margin-top: 18%;
    list-style: none;
    padding: 0;
}

.footer {
    background: linear-gradient(to right, #464a4e, #1d2636); /* Background gradient */
    padding: 30px 0;
    margin-top: 10%;
}

.footer-col {
    width: 20%; /* Reduced width to minimize gap */
    padding: 0 10px; /* Adjusted padding for more gap */
    text-align: center; /* Center-align text */
}

.footer-col img {
    width: 60px; /* Resize the logo image */
    height: auto;
    margin-bottom: 15px; /* Added margin for spacing */
    display: block; /* Make it a block element */
    margin-left: auto;
    margin-right: auto;
}

.footer-col h4 {
    margin-top: 6%;
    font-size: 15px;
    color: #ffffff;
    text-transform: capitalize;
    margin-bottom: 15px; /* Reduced margin */
    font-weight: 500;
    position: relative;
    text-align: center; /* Center-align text */
}

.footer-col p {
    margin-left: 0 auto; /* Center-align text */
    font-size: 12px;
    color: #bbbbbb;
    text-transform: capitalize;
    margin-bottom: 15px; /* Reduced margin */
    font-weight: 300;
    padding-right: 10%;
    text-align: center; /* Center-align text */
}

.footer-col h4::before {
    content: '';
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: -10px;
    background-color: #78b0e4;
    height: 2px;
    box-sizing: border-box;
    width: 50px;
}

.footer-col ul li:not(:last-child) {
    margin-bottom: 10px; /* Increased margin */
}

.footer-col ul li a {
    font-size: 12px;
    text-transform: capitalize;
    color: #bbbbbb;
    text-decoration: none;
    font-weight: 300;
    display: block;
    transition: all 0.3s ease;
    text-align: center; /* Center-align text */
}

.footer-col ul li a:hover {
    color: #ffffff;
    padding-left: 8px;
}

.footer-col .social-links a {
    display: inline-block;
    height: 35px; /* Reduced height */
    width: 35px; /* Reduced width */
    background-color: rgba(255, 255, 255, 0.2);
    margin: 25px 10px 25px 0; /* Added margin-top */
    text-align: center;
    line-height: 35px; /* Adjusted line height */
    border-radius: 50%;
    color: #ffffff;
    transition: all 0.5s ease;
}

.footer-col .social-links a img {
    max-width: 100%;
    height: auto;
    vertical-align: middle;
}

.footer-col .social-links a:hover {
    color: #24262b;
    background-color: #ffffff;
}

.footer .copyright {
    font-size: 12px;
    text-align: center;
    padding-top: 2%;
    border-top: 1px solid #000000;
    margin-top: 20px;
    color: #bbbbbb;
    width: 100%;
    max-width: 1170px;
    margin: 20px auto 0;
}

/* Responsive styles for screens below 768px */
@media screen and (max-width: 768px) {
    .container-footer {
        margin-left: 5%;
        margin-right: 5%;
    }

    .container-footer .row {
        flex-direction: column;
        align-items: center;
    }

    .footer-col {
        width: 100%;
        margin-bottom: 20px;
        padding-left: 0;
        text-align: center; /* Center-align text for smaller screens */
    }

    .footer-col ul {
        margin-top: 10%;
    }

    .footer-col h4 {
        font-size: 14px;
    }

    .footer-col p {
        margin-left: 0;
        padding-right: 0;
        text-align: center;
    }

    .footer-col ul li a {
        font-size: 14px;
    }

    .footer-col .social-links a {
        height: 30px;
        width: 30px;
        line-height: 30px;
    }

    .footer .copyright {
        font-size: 10px;
        padding-top: 10px;
    }
}
